.root {
    -fx-background-color: #02023b;
    -fx-font-family: "Arial";
    -fx-padding: 20;
}

.chart {
    -fx-background-color: transparent;
}

.button {
    -fx-background-color: #5C5CFF;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 10px 20px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 5, 0, 0, 1);
    -fx-transition: background-color 0.3s ease;
}

.button:hover {
    -fx-background-color: #4C4CFF;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.8), 10, 0, 0, 1);
}

.label {
    -fx-text-fill: black;
    -fx-font-size: 16px;
    -fx-padding: 5;
}

.chart-title {
    -fx-text-fill: #FFD700;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

.axis-label {
    -fx-text-fill: #CCCCCC;
}

.legend {
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.text-field {
    -fx-background-color: #3A3A3A;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 10;
    -fx-border-color: #5C5CFF;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.text-field:focused {
    -fx-border-color: #FFD700;
}

.tooltip {
    -fx-background-color: #333333;
    -fx-text-fill: white;
    -fx-font-size: 12px;
    -fx-padding: 5;
    -fx-border-radius: 3px;
}
